{% extends 'base.html' %}

{% block content %}

<div class="max-w-md mx-auto py-32 px-5">

    <h1 class="text-3xl font-bold mb-6">
        Recuperar contraseña
    </h1>

    <p class="mb-6 text-gray-600">
        Ingresá tu email y te enviaremos un enlace.
    </p>

    <form method="POST">

        {% csrf_token %}

        {{ form.email }}

        <button
            type="submit"
            class="
                mt-4
                w-full
                rounded-xl
                bg-[#4B2E83]
                py-3
                text-white
            "
        >
            Enviar enlace
        </button>

    </form>

</div>

{% endblock %}